
/* ### Common Global Styles ### */
    body {
        margin: 0px;
        font-family: 'Roboto', sans-serif;

    }

    /* #### Nav Styling #### */

    .nav-container {
        height: 190px;
        background-color: #191919;
        color: #cbcbcb;

        /* Flexbox Container */
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* Container Items */
        padding: 60px 100px 60px 100px;
        margin: 0px;
    }

    .nav-container > .left-column {
        display: flex;
        align-items: center;
    }

    .nav-container > .left-column > .icon {
        margin-right: 15px;
    }

    .nav-container > .left-column > .icon i {
        font-size: 2em; 
    }
    
     /* CSS GRID */
    /* find the contact-hours-wrapper that is inside the left colun */
    .nav-container > .left-column > .left-column > .contact-hours-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    
    .nav-container > .left-column > .contact-hours-wrapper > .hours {
        font-family: 'Ubuntu Condensed', sans-serif;
    }

        
    .links-container > .nav-link a {
        font-family: 'Ubuntu Condensed', sans-serif;
        color: white;
    }

    .nav-container > .right-column > .address-container {
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    .nav-container > .center-column > .banner-image img {
        width: 216px;
        height: 100%;
    }