
/* ### Common Global Styles ### */
    body {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Slab', serif;
    }


/* ### Common Global Styles ### */

.footer {
    background-color: #191919;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}