/*##### HERO SECTION SYTLES #####*/

.hero-section {
    background-image: url(../assets/images/ramen-hero-bg.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    padding: 1px 20px;
    background-color: #11122b;
    color: #cbcbcb;
    width: 200px;
    border-radius: 2px;
}

.hero-section > .bottom-heading {
    padding: 1px 20px;
    background-color: #cea135;
    color: #11122b;
    margin-top: 15px;
    width: 100px;
    border-radius: 2px;
}